@tailwind base;
@tailwind components;
@tailwind utilities;
html {
	background-color: #2C292D;
	font-family: Play, serif;
}
@font-face {
	font-family: Play;
	src: url(./assets/fonts/play/Play-Regular.ttf);
}
@font-face {
	font-family: Play-bold;
	src: url(./assets/fonts/play/Play-Bold.ttf);
}

