@tailwind base;
@tailwind components;
@tailwind utilities;
@layer components {
.form-btn {
	@apply rounded-3xl bg-black text-white mt-3 mx-auto p-3 hover:ring-2
	}
.error {
	@apply border-red-500
}
}

html {
	background-color: #2C292D;
	font-family: Play, serif;
	color: #fff;
}
@font-face {
	font-family: Play;
	src: url(./assets/fonts/play/Play-Regular.ttf);
}
@font-face {
	font-family: Play-bold;
	src: url(./assets/fonts/play/Play-Bold.ttf);
}

