@import './theme.css';

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  font-family: Exo2, serif;
  color: var(--color-text-1);
  background-color: var(--color-bg-1);
}

@font-face {
  font-family: Exo2;
  src: url(./assets/fonts/exo2/Exo2-Regular.ttf);
}

@font-face {
  font-family: Exo2-bold;
  src: url(./assets/fonts/exo2/Exo2-Bold.ttf);
}

@font-face {
  font-family: OpenMoji;
  src: URL(./assets/fonts/openmoji/OpenMoji-Color.SVG.ttf) format('truetype');
}

#app {
  display: flex;
  flex-direction: column;
  min-height: 100vh;
}
